@font-face {
  font-family: 'museo_1';
  src: url("/fonts/museo_1/font.eot");
  src: url("/fonts/museo_1/font.eot?#iefix") format("embedded-opentype"), url("/fonts/museo_1/font.woff") format("woff"), url("/fonts/museo_1/font.ttf") format("truetype");
}

@font-face {
  font-family: 'museo_2';
  src: url("/fonts/museo_2/font.eot");
  src: url("/fonts/museo_2/font.eot?#iefix") format("embedded-opentype"), url("/fonts/museo_2/font.woff") format("woff"), url("/fonts/museo_2/font.ttf") format("truetype");
}

@font-face {
  font-family: 'pt_suns_regular';
  src: url("/fonts/pt_suns_regular/font.eot");
  src: url("/fonts/pt_suns_regular/font.eot?#iefix") format("embedded-opentype"), url("/fonts/pt_suns_regular/font.woff") format("woff"), url("/fonts/pt_suns_regular/font.ttf") format("truetype");
}

/*@mixin inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1
}*/
/* for sliders building */
/* no text elements select */
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .class{
   .element{
     display: inline-table;
   }
  }
}
*/
h1 {
  color: black;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #272a2d;
  margin-bottom: 20px;
}

.catalog h1 {
  text-align: left;
}
.catalog ul {
  border: 0px solid red;
}
.catalog ul li {
  float: left;
  width: 247px;
  height: 380px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  border: 0px solid green;
}
.catalog ul li a.image {
  width: 100%;
  height: 330px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 50px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.catalog ul li .info {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.catalog ul li .info a, .catalog ul li .info b {
  display: block;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 10px;
}

.product {
  padding-bottom: 30px;
}
.product dl {
  font-size: 1.5em;
  line-height: 150%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}
.product dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}
.product dl dd {
  margin-bottom: 30px;
}
.product .preview {
  width: 240px;
  float: left;
}
.product .finished {
  padding: 20px;
  float: right;
  width: 200px;
  height: 400px;
  background: #f6f6f4;
}
.product .finished h5 {
  font-weight: bold;
}
.product .info {
  margin: 0 260px;
}

.product_info {
  padding-top: 30px;
  margin-bottom: 30px;
}
.product_info .tabs a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  background: gray;
  margin-right: 10px;
}
.product_info .tabs a.active {
  background: white;
}
.product_info .content {
  padding: 20px;
  background: white;
}
.product_info p {
  font-size: 1.4em;
}

.buy_link {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 1px 1px -1px white inset, 0px 1px 4px -1px #010101;
  -moz-box-shadow: 0 1px 1px -1px white inset, 0px 1px 4px -1px #010101;
  box-shadow: 0 1px 1px -1px white inset, 0px 1px 4px -1px #010101;
  text-shadow: 0.1px -0.1px 1px #222222;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  line-height: 40px;
  border-radius: 3px;
  background: #c85b39;
}
