/*@mixin inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1
}*/
/* for sliders building */
/* no text elements select */
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .class{
   .element{
     display: inline-table;
   }
  }
}
*/
.stone_garant_logo {
  height: 70px;
  width: 210px;
  float: left;
  display: block;
  background: gray;
}

.index_header {
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
}
.index_header .description {
  position: absolute;
  top: 17px;
  left: 20px;
  font-size: 1.4em;
  border: 0px solid blue;
}
.index_header .phone {
  position: absolute;
  top: 16px;
  right: 20px;
  color: white;
  font-size: 1.9em;
  border: 0px solid red;
}
.index_header .recall {
  position: absolute;
  top: 20px;
  right: 200px;
}
.index_header .recall a {
  padding: 7px 15px;
  color: #ededed;
  font-size: 1.2em;
  background: #434446;
  border-radius: 20px;
  text-decoration: none;
}
.index_header .recall a:hover {
  color: #c75a38;
}

.base_nav .menu {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding-top: 35px;
}
.base_nav .menu a {
  color: #010101;
  font-size: 1.7em;
  margin-left: 35px;
  text-decoration: none;
}
.base_nav .menu a:hover {
  text-decoration: underline;
}

.sections_nav a {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  display: block;
  padding: 0 15px;
  height: 105px;
  line-height: 160px;
  margin-right: 20px;
  color: white;
  font-size: 1.4em;
  border: 1px solid #f4f4f4;
}
.sections_nav .helper {
  float: right;
}
.sections_nav .helper a {
  margin: 0;
}

.main_banner {
  height: 500px;
}
.main_banner .title {
  font-size: 4em;
}
.main_banner .descr {
  font-size: 2em;
}
.main_banner .helper {
  font-size: 1.3em;
}
.main_banner:after {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  right: 100px;
  height: 500px;
  width: 400px;
  background: #28292e;
  border: 1px solid #f4f4f4;
}
