/*@mixin inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1
}*/
/* for sliders building */
/* no text elements select */
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .class{
   .element{
     display: inline-table;
   }
  }
}
*/
.stone_garant_logo {
  height: 70px;
  width: 210px;
  float: left;
  display: block;
  background: url(/images/stone_garant_logo.png) no-repeat scroll 0 15px transparent;
}

.index_header {
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
}
.index_header .description {
  position: absolute;
  top: 17px;
  left: 20px;
  font-size: 1.4em;
  border: 0px solid blue;
}
.index_header .phone {
  position: absolute;
  top: 16px;
  right: 20px;
  color: white;
  font-size: 1.9em;
  border: 0px solid red;
}
.index_header .recall {
  position: absolute;
  top: 20px;
  right: 200px;
}
.index_header .recall a {
  padding: 7px 15px;
  color: #ededed;
  font-size: 1.2em;
  background: #434446;
  border-radius: 20px;
  text-decoration: none;
}
.index_header .recall a:hover {
  color: #c75a38;
}

.base_nav .menu {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding-top: 35px;
}
.base_nav .menu a {
  color: #010101;
  font-size: 1.7em;
  margin-left: 35px;
  text-decoration: none;
}
.base_nav .menu a:hover {
  text-decoration: underline;
}

.sections_nav a {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  display: block;
  padding: 0 15px;
  height: 105px;
  line-height: 160px;
  margin-right: 20px;
  color: white;
  font-size: 1.4em;
  border: 0px solid #f4f4f4;
  background-image: url(/images/block_types.png);
  background-color: transparent;
  background-repeat: no-repeat;
}
.sections_nav a:nth-child(1) {
  background-position: 38px 15px;
}
.sections_nav a:nth-child(2) {
  background-position: -84px 15px;
}
.sections_nav a:nth-child(3) {
  background-position: -207px 15px;
}
.sections_nav a:nth-child(4) {
  background-position: -343px 15px;
}
.sections_nav a:nth-child(5) {
  background-position: -460px 15px;
}
.sections_nav a:nth-child(6) {
  background-position: -603px 15px;
}
.sections_nav a:nth-child(7) {
  background-position: -603px 15px;
}
.sections_nav .helper {
  float: right;
}
.sections_nav .helper a {
  margin: 0;
}

.main_banner {
  height: 500px;
  /*background: image-url('/images/granit_bg.jpg') repeat scroll 0 0 #393A3C;*/
}
.main_banner .title {
  font-size: 4em;
}
.main_banner .descr {
  font-size: 2em;
}
.main_banner .choose_goods {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 1px 1px -1px white inset, 0px 1px 4px -1px #010101;
  -moz-box-shadow: 0 1px 1px -1px white inset, 0px 1px 4px -1px #010101;
  box-shadow: 0 1px 1px -1px white inset, 0px 1px 4px -1px #010101;
  text-shadow: 0.1px -0.1px 1px #222222;
  position: absolute;
  top: 280px;
  left: 30px;
  color: white;
  padding: 0 30px;
  font-size: 1.2em;
  line-height: 40px;
  border-radius: 3px;
  background: #c85b39;
}
.main_banner .helper {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 1.3em;
}
.main_banner .helper:before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: 0;
  width: 120%;
  border-top: 1px solid white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}
.main_banner:after {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  right: 20px;
  height: 500px;
  width: 490px;
  background: url(/images/dark_block.png) no-repeat scroll 0 -100px transparent;
}

.quality {
  font-family: Arial, Helvetica, sans-serif;
  height: 350px;
}
.quality .title {
  padding-top: 30px;
  font-size: 3.2em;
  text-align: center;
}
.quality .descr {
  font-size: 1.2em;
  margin-left: 410px;
}
.quality .portfolio {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 350px;
  height: 320px;
  background: gray;
}
.quality .etching {
  display: block;
  position: relative;
  padding: 10px 0 0 80px;
}
.quality .etching:before {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  content: ' ';
  width: 70px;
  height: 70px;
  background: gray;
}

.advantages {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
  padding-bottom: 30px;
}
.advantages p {
  font-size: 1.2em;
  margin-left: 80px;
}
.advantages p b {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.advantages ul li {
  float: left;
  width: 49.98%;
  background: gray;
  position: relative;
}
.advantages ul li:before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.advantages ul li:nth-child(1):before {
  background: red;
}
.advantages ul li:nth-child(2):before {
  background: green;
}
.advantages ul li:nth-child(3):before {
  background: blue;
}
.advantages ul li:nth-child(4):before {
  background: black;
}
