body, html {
  background: #28292e;
}

.dark_gray_1 {
  background: #272a2d;
}

.dark_gray_2 {
  background: #28292e;
}

.light_gray_1 {
  background: #f4f4f4;
}

.light_gray_2 {
  background: #edede9;
}

.light_gray_3 {
  background: #dcd7d2;
}

.content_line {
  border: 1px solid red;
}
.content_line .content_holder {
  margin: 0 auto;
  width: 1000px;
  border: 1px solid blue;
}
