/*@mixin inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1
}*/
/* for sliders building */
/* no text elements select */
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .class{
   .element{
     display: inline-table;
   }
  }
}
*/
body, html {
  background: #edede9;
}

/* Styles */
a {
  color: #c75a38;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* Structure */
.content_line {
  border: 0px solid red;
}
.content_line .content_holder {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  border: 0px solid blue;
}

.mlr20 {
  margin: 0 20px;
}

/* Base BG */
.dark_gray_1 {
  background: #272a2d;
}

.dark_gray_2 {
  background: #28292e;
}

.dark_gray_3 {
  background: #393A3C;
}

.dark_gray_4 {
  background: url(/images/stone_bg.jpg) no-repeat scroll center center #3a3b3c;
}

.light_gray_1 {
  background: #f4f4f4;
}

.light_gray_2 {
  background: #edede9;
}

.light_gray_3 {
  background: #dcd7d2;
}

/* Base styles */
.dark_gray_1 {
  color: #ededed;
}

.dark_gray_2 {
  color: #cacaca;
}

.dark_gray_3 {
  color: white;
}

.light_gray_3 {
  color: #3e3932;
}
