$header_height: 100px;

html, body{
  width:  100%;
  height: 100%;
  background: gray;
}

.viewport{
  width:  100%;
  height: 100%;
  background: white;
  position: relative;
  
  .header, .footer{
    left: 0;
    z-index: 2;
    width: 100%;
    background: gray;
    position: absolute;
    height: $header_height;
  }

  .header{ top:    0; }
  .footer{ bottom: 0; }

  .map_holder{
    width: 100%;
    height: 100%;
    background: red;
    position: relative;

    .geocoder_holder{
      left: 10%;
      z-index: 3;

      position: absolute;
      top: $header_height + 15px;
      
      .search_form{
        background: white;
        padding: 20px;
        border-radius: 10px;
      }
    }

    .map{
      position: absolute;
      top: $header_height; left: 0;
      width: 100%; height: 80%;
    }
  }

  .sidebar{
    position: absolute;
    top: 0; right: 0;
    z-index: 1;
    height:  100%;
    width:   200px;
    background: green;

    .content_holder{
      width: 100%;
      overflow: auto;
      position: absolute;
      background: lightGray;
      top: $header_height; left: 0;
    }
  }
}