@import "compass/css3/box-sizing";
$header_height: 100px;

html, body{
  width:  100%;
  height: 100%;
  background: red;
}

.viewport{
  width:   100%;
  height:  100%;
  padding: 100px 0 100px 0;

  background: blue;
  @include box-sizing('padding-box');

  .header, .footer{
    position: absolute;
    left: 0;
    width: 100%;
    height: $header_height;
    background: gray;
    z-index: 2;
  }

  .header{ top:    0; }
  .footer{ bottom: 0; }

  .map_holder{
    height:  100%;
    margin-right: 200px;
  }

  .geocoder_holder{
    height: 0;
    top: 120px;
    position: absolute;

    z-index: 3;
    width: 100%;
    text-align: center;
    padding-right: 200px;
    @include box-sizing('padding-box');

    .search_form{
      padding: 20px;
      display: inline;
      background: white;
      border-radius: 10px;
    }
  }

  .map{
    height:  100%;
    background: green;
  }

  .sidebar{
    z-index: 100;
    float: right;
    height: 100%;
    width: 200px;
    color: white;
    overflow: auto;
    background: black;
  }
}