- @is_mail = is_mail
- partial '../mailers/styles'

-# zykin-ilya@ya.ru
-# Base64.decode64 "enlraW4taWx5YUBuYXJvZC5ydQ="

=# partial '../mailers/hstore/letter'
= partial '../mailers/ae_project/letter'
=# partial '../mailers/ae_project_new_year/letter'