p {
  margin-bottom: 1.35em;
  line-height: 175%;
}

.content {
  padding-bottom: 30px;
}

.user_content {
  font-size: 14px;
  line-height: 150%;
}
.user_content * {
  font-size: inherit;
  line-height: inherit;
}
