:ruby
  arcives = [
    {
      image: 'ae_project/archive/1.png',
      url: 'http://artelectronics.ru/vision/vision/660'
    },
    {
      image: 'ae_project/archive/2.png',
      url: 'http://artelectronics.ru/vision/videoart/536'
    },
    {
      image: 'ae_project/archive/3.png',
      url: 'http://artelectronics.ru/mirazhi/mirazhi/659'
    }
  ]

%p{ style: zero + pt10 + fs17 + mb10 + text_left + arial + gray }
  Архив ArtElectronics:

%table{ table, width: '100%', style: pb10 + mb10, align: :right }
  %tr
    - arcives.each do |archive|
      %td{ td, style: p10 }
        = link_to archive[:url] + @user_email_flag, style: iblock do
          = email_image archive[:image], {}, @is_mail