@import "mix";

h1,h2,h3,h4,h5,h6{
  @include museo_font;
  line-height: 100%;
  font-weight: normal;
  margin-bottom: 15px;
}
h1{ font-size:2.3em }
h2{ font-size:2.7em }
h3{ font-size:2.3em }
h4{ font-size:1.9em }
h5{ font-size:1.5em }
h6{ font-size:1.1em }