@import "compass/css3/inline-block";

@font-face {
  font-family: 'museo_1';
  src: url('/fonts/museo_1/font.eot');
  src: url('/fonts/museo_1/font.eot?#iefix') format('embedded-opentype'),
       url('/fonts/museo_1/font.woff')       format('woff'),
       url('/fonts/museo_1/font.ttf')        format('truetype');
}

@font-face {
  font-family: 'museo_2';
  src: url('/fonts/museo_2/font.eot');
  src: url('/fonts/museo_2/font.eot?#iefix') format('embedded-opentype'),
       url('/fonts/museo_2/font.woff')       format('woff'),
       url('/fonts/museo_2/font.ttf')        format('truetype');
}

@font-face {
  font-family: 'pt_suns_regular';
  src: url('/fonts/pt_suns_regular/font.eot');
  src: url('/fonts/pt_suns_regular/font.eot?#iefix') format('embedded-opentype'),
       url('/fonts/pt_suns_regular/font.woff')       format('woff'),
       url('/fonts/pt_suns_regular/font.ttf')        format('truetype');
}

@mixin corp_font    { font-family: "pt_suns_regular", sans-serif, Helvetica, Arial;    }
@mixin pts_font     { font-family: "pt_suns_regular", sans-serif, Helvetica, Arial;    }
@mixin museo_1_font { font-family: "museo_1", sans-serif, Helvetica, Arial;            }
@mixin museo_2_font { font-family: "museo_2", sans-serif, Helvetica, Arial;            }
@mixin museo_font   { font-family: "museo_1", "museo_2", sans-serif, Helvetica, Arial; }

@mixin corp_light { font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif; font-weight: 100; }
@mixin treb_ms    { font-family: 'Trebuchet MS', Helvetica, sans-serif }
@mixin arial      { font-family: Arial, Helvetica, sans-serif          }
@mixin times      { font-family: 'Times New Roman', Times, serif       }

@mixin overblock{ overflow: hidden; zoom: 1 }

/*@mixin inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1
}*/

/* for sliders building */
@mixin nobr_block{
  white-space: nowrap;
  word-spacing:   -2px;
  letter-spacing: -2px;
}

@mixin nobr_item{
  @include inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing:   normal;
}

/* no text elements select */
@mixin no_text_select{
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  -o-user-select:        none;
  user-select:           none;
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .class{
   .element{
     display: inline-table;
   }
  }
}
*/