html, body {
  width: 100%;
  height: 100%;
  background: gray;
}

.viewport {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
}
.viewport .header, .viewport .footer {
  left: 0;
  z-index: 2;
  width: 100%;
  background: gray;
  position: absolute;
  height: 100px;
}
.viewport .header {
  top: 0;
}
.viewport .footer {
  bottom: 0;
}
.viewport .map_holder {
  width: 100%;
  height: 100%;
  background: red;
  position: relative;
}
.viewport .map_holder .geocoder_holder {
  left: 10%;
  z-index: 3;
  position: absolute;
  top: 115px;
}
.viewport .map_holder .geocoder_holder .search_form {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.viewport .map_holder .map {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 80%;
}
.viewport .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 200px;
  background: green;
}
.viewport .sidebar .content_holder {
  width: 100%;
  overflow: auto;
  position: absolute;
  background: lightGray;
  top: 100px;
  left: 0;
}
