html {
  background: lightGray;
}

.point {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: gray;
}
