@import "compass/css3/border-radius";

html{ background: lightGray; }

.point{
  width:  20px;
  height: 20px;
  @include border-radius(15px);

  position: absolute;
  top: 0; left: 0;

  background: gray;
}