- content_for :js do
  = javascript_include_tag 'eye_timer/base'
  = javascript_include_tag 'invoke'

- content_for :css do
  = stylesheet_link_tag 'eye_timer/base'

%h3 Gymnastic for eyes. For relax programmers eyes (use fullscreen mode and 27'' monitor)
%br
%h4 Micro muscles of eyes should moves. Just track for gray point
%h5 Do not use this simple app, for medicinal purposes! No any warranties. It's can be dangerous :D LoL!
%br
%h5 Fork it! Improve it! Build your own training complex for your eyes

.point