.index
  .part
    %h1 Sinatra/Padrino App for Frontend developers
    %p Use HAML, SASS and Coffee Script for frontend development right now!

  .part
    %h1 Шаблонное приложение для Frontend разработчиков на основе Sinatra/Padrino 
    %p Используйте HAML, SASS и Coffee Script для разработки прямо сейчас!

  .part
    = link_to 'The_template', 'https://github.com/the-teacher/the_template'
    |
    = link_to 'About', '/about'

  .part
    %h1 HTML letter view
    = link_to 'HTML letter', '/mail/letter'