@import "../base/mix";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/inline-block";
@import "compass/css3/transition";

h1{
  color: black;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #272a2d;
  margin-bottom: 20px;
}

.catalog{
  h1{ text-align: left; }
  
  ul{
    border: 0px solid red;

    li{
      float: left;
      width: 247px;
      height: 380px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
      border: 0px solid green;

      a.image{
        width:  100%;
        height: 330px;
        display: block;
        position: absolute;
        left: 0; bottom: 50px;
        background-repeat: no-repeat;
        background-position: center bottom;
      }
      .info{
        @include museo_font;

        width: 100%;
        position: absolute;
        left: 0; bottom: 0;

        a{
          text-decoration: none;
          line-height: 125%;
        }
        b{
          @include pts_font;
        }
        a, b{
          color: black;
          display: block;
          font-size: 1.6em;
          text-align: center;
          margin-bottom: 7px;
        }
      }

      .hover_block{
        width: 100%;
        height: 0;
        overflow: hidden;
        background: #272a2d;
        position: absolute;
        bottom: 0; left: 0;

        .wrp{
          width: 227px;
          height: 250px;
          position: absolute;
          top: 10px; left: 10px;
          border: 1px solid #a0a0a0;
        }

        a, .title, .name, .price, .equip, .marker{
          left: 0;
          width: 100%;
          color: white;
          display: block;
          position: absolute;
          text-align: center;
          @include museo_font;
        }

        .title{
          top: 20px;
          color: #a0a0a0;
        }
        .name{
          top: 40px;
          left: 10px;
          width: 206px;
          font-size: 1.3em;          
          line-height: 130%;
        }
        .marker{
          font-size: 1.5em;
          height: 30px;
          top: 73px;

          &:before, &:after{
            border-top: 1px solid white;
            position: absolute;
            display: block;
            content: " ";
            width: 80px;
            top: 7px;
          }
          &:before{ left: 25px; }
          &:after{ right: 25px; }
        }
        .price{
          font-size: 1.7em;
          top: 105px;
        }
        .equip{
          @include pts_font;
          top: 140px;
          font-size: 1.1em;

          b{
            color: #a0a0a0;
            display: block;
            margin-bottom: 5px;
          }
        }

        a{
          @include pts_font;
          width: 167px;
          color: #c75a38;
          font-size: 1.4em;
          padding: 10px 15px;
          bottom: 12px; left: 13px;
          border: 3px solid #c75a38;
          text-decoration: none;
          text-align: center;

          &:hover{
            color: white;
            background: #c75a38;
          }
        }
      }
      &:hover{
        .hover_block{
          height: 270px;
          @include transition-duration(.2s);
          @include transition-property(height);
          @include transition-timing-function(ease-in);
        }
      }
    }
  }
}