@import "../base/mix";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

.stone_garant_logo{
  height: 70px;
  width: 210px;
  float: left;
  display: block;
  background: image-url('/images/stone_garant_logo.png') no-repeat scroll 0 15px transparent;
}

.index_header{
  @include arial;
  height: 50px;

  .description{
    position: absolute;
    top: 17px; left: 20px;

    font-size: 1.4em;
    border: 0px solid blue;
  }
  .phone{
    position: absolute;
    top: 16px; right: 20px;

    color: white;
    font-size: 1.9em;
    border: 0px solid red;
  }
  .recall{
    position: absolute;
    top: 20px; right: 200px;

    a{
      padding: 7px 15px;
      color: #ededed;
      font-size: 1.2em;
      background: #434446;
      border-radius: 20px;
      text-decoration: none;
      &:hover{ color: #c75a38; }
    }
  }
}

.base_nav{
  .menu{
    @include arial;
    float: right;
    padding-top: 35px;

    a{
      color: #010101;
      font-size: 1.7em;
      margin-left: 35px;
      text-decoration: none;
      
      &:hover{ text-decoration: underline; }
    }
  }
}

.sections_nav{
  a{
    @include arial;

    float: left;
    display: block;
    padding: 0 15px;

    height: 105px;
    line-height: 160px;
    margin-right: 20px;

    color: white;
    font-size: 1.4em;
    border: 0px solid #f4f4f4;

    background-image: image-url('/images/block_types.png');
    background-position: 22px 22px;
    background-color: transparent;
    background-repeat: no-repeat;

    &:nth-child(1){
      background-position: 22px 17px;
    }
    &:nth-child(2){
      background-position: 15px -103px;
    }
    &:nth-child(3){
      background-position: 22px -222px;
    }
    &:nth-child(4){
      background-position: 13px -341px;
    }
    &:nth-child(5){
      background-position: 28px -460px;
    }
    &:nth-child(6){
      background-position: 35px -581px;
    }
    &:nth-child(7){
      background-position: 22px 17px;
    }
  }

  .helper{
    float: right;
    a{ margin: 0; }
  }
}

.main_banner{
  z-index: 3;
  height: 500px;

  .title{ font-size:4em; }
  .descr{ font-size:2em; }

  .choose_goods{
    @include arial;
    @include box-shadow(
      0 1px 1px -1px white inset,
      0px 1px 4px -1px #010101
    );
    @include text-shadow(0.1px -0.1px 1px #222);

    position: absolute;
    top: 280px; left: 30px;
    
    color: white;
    padding: 0 30px;
    font-size: 1.2em;
    line-height: 40px;
    border-radius: 3px;
    background: #c85b39;
  }

  .helper{
    position: absolute;
    bottom: 30px; left: 30px;

    font-size: 1.3em;

    &:before{
      content: ' ';
      position: absolute;
      top: -10px; left: 0;

      width: 120%;

      border-top: 1px solid white;
      @include opacity(0.1);
    }
  }

  &:after{
    z-index: 10;
    display: block;
    content: ' ';
    position: absolute;
    top: 0; right: 20px;

    height: 500px;
    width: 490px;

    background: image-url('/images/dark_block.png') no-repeat scroll 0 -100px transparent;
  }
}

.quality{
  @include arial;
  height: 350px;

  .title{
    padding-top: 30px;
    font-size: 3.2em;
    text-align: center;
  }

  .descr{
    font-size: 1.2em;
    margin-left: 410px;
  }

  .portfolio{
    position: absolute;
    top: 90px; left: 20px;
    width: 420px; height: 320px;

    background: gray;
    background: image-url('/images/middle_block_placeholder.png') no-repeat scroll center center transparent;
  }

  .etching{
    display: block;
    position: relative;
    padding: 10px 0 0 80px;

    &:before{
      position: absolute;
      top: 10px; left: 0;

      display: block;
      content: ' ';
      width: 70px;
      height: 50px;
      background: image-url('/images/block_icon.png') no-repeat scroll top center transparent;
    }
  }
}

.advantages{
  @include arial;
  padding-top: 80px;
  padding-bottom: 30px;

  p{
    font-size: 1.2em;
    margin-left: 80px;

    b{
      display: block;
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  }

  ul{
    li{
      float: left;
      width: 49.98%;
      position: relative;

      &:before{
        display: block;
        content: ' ';

        position: absolute;
        top: 0; left: 0;
        width: 60px; height: 60px;
      }

      &:before{ background: image-url('/images/advantages_icons.png') no-repeat scroll 0 0 transparent; }
      &:nth-child(1):before{ background-position:      0 0; }
      &:nth-child(2):before{ background-position: -120px 0; }
      &:nth-child(3):before{ background-position: -240px 0; }
      &:nth-child(4):before{ background-position: -360px 0; }
    }
  }
}