@import "../base/mix";

body, html{ background: #edede9; }

/* Styles */
a{
  color: #c75a38;
  text-decoration: underline;

  &:hover{ text-decoration: none; }
}

/* Structure */
.content_line{
  border: 0px solid red;

  .content_holder{
    @include arial;

    margin: 0 auto;
    width:  1000px;
    position: relative;
    border: 0px solid blue;
  }
}

.mlr20{ margin: 0 20px; }

.content_holder{
  p.title{
    padding-top: 30px;
    font-size: 3.2em;
    text-align: center;
  }
  h5.title{
    font-size: 4em;
  }
}

/* Base BG */
.dark_gray_1 { background: #272a2d; }
.dark_gray_2 { background: #28292e; }
.dark_gray_3 { background: #393A3C; }
.dark_gray_4 { background: image-url('/images/stone_bg.jpg') no-repeat scroll center center #3a3b3c; }

.light_gray_1{ background: #f4f4f4; }
.light_gray_2{ background: #edede9; }
.light_gray_3{ background: #dcd7d2; }

/* Base styles */
.dark_gray_1 { color: #ededed; }
.dark_gray_2 { color: #cacaca; }
.dark_gray_3 { color: white;   }
.light_gray_3{ color: #3e3932; }