@import "../base/mix";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/inline-block";

body, html{ background: #edede9; }

/* Styles */
a{
  color: #c75a38;
  text-decoration: underline;

  &:hover{ text-decoration: none; }
}

a.back_link{
  color: black;
  font-size: 1.2em;
  position: absolute;
  top: 30px; left: 0;
  text-decoration: none;
  padding-left: 25px;
  &:hover{ color: #c75a38; }

  &:before{
    position: absolute;
    top: -1px; left: 0;
    content: '←';
    font-size: 2.1em;
    font-weight: bold;
  }
}

/* Structure */
.content_line{
  border: 0px solid red;

  .content_holder{
    @include arial;

    margin: 0 auto;
    width:  1000px;
    position: relative;
  }
}

.mlr20{ margin: 0 20px; }

.content_holder{
  position: relative;

  p.title{
    padding-top: 30px;
    font-size: 3.2em;
    text-align: center;
  }
  h5.title{
    font-size: 4em;
  }
}

/* Base BG */
.dark_gray_1 { background: #272a2d; }
.dark_gray_2 { background: #28292e; }
.dark_gray_3 { background: #393A3C; }
.dark_gray_4 { background: image-url('/images/stone_bg.jpg') no-repeat scroll center center #3a3b3c; }

.light_gray_1{ background: #f4f4f4; }
.light_gray_2{ background: #edede9; }
.light_gray_3{ background: #dcd7d2; }

/* Base styles */
.dark_gray_1 { color: #ededed; }
.dark_gray_2 { color: #cacaca; }
.dark_gray_3 { color: white;   }
.light_gray_3{ color: #3e3932; }

/* HEADER + FOOTER */

.stone_garant_logo{
  height: 70px;
  width: 210px;
  float: left;
  display: block;
  background: image-url('/images/stone_garant_logo.png') no-repeat scroll 0 15px transparent;
}

.stone_garant_logo_2{
  @include inline-block;
  height: 60px; width: 150px;
  background: image-url('/images/stone_garant_logo_2.png') no-repeat scroll 0 0 transparent;
}

.header{
  @include arial;
  height: 50px;

  .description{
    position: absolute;
    top: 17px; left: 20px;

    font-size: 1.4em;
    border: 0px solid blue;
  }
  .phone{
    position: absolute;
    top: 16px; right: 20px;

    color: white;
    font-size: 1.9em;
    border: 0px solid red;
  }
  .recall{
    position: absolute;
    top: 20px; right: 200px;

    a{
      padding: 7px 15px;
      color: #ededed;
      font-size: 1.2em;
      background: #434446;
      border-radius: 20px;
      text-decoration: none;
      &:hover{ color: #c75a38; }
    }
  }
}

.footer{
  padding: 15px 0 40px 0;
  p{
    padding: 0 0 15px 0;
    margin:  0 0 20px 0;
    border-bottom: 1px solid gray;
  }

  li{
    font-size: 1.3em;
    line-height: 150%;
    margin-right: 50px;
    @include inline-block;
    vertical-align: top;
  }
}

/* NAVIGATION */

.base_nav{
  .menu{
    @include arial;
    float: right;
    padding-top: 35px;

    a{
      color: #010101;
      font-size: 1.7em;
      margin-left: 35px;
      text-decoration: none;
      
      &:hover{ text-decoration: underline; }
    }
  }
}

.sections_nav{
  a{
    @include arial;

    float: left;
    display: block;
    padding: 0 15px;

    height: 105px;
    line-height: 160px;
    margin-right: 20px;

    color: white;
    font-size: 1.4em;
    border: 0px solid #f4f4f4;

    background-image: image-url('/images/block_types.png');
    background-position: 22px 22px;
    background-color: transparent;
    background-repeat: no-repeat;

    &:nth-child(1){ background-position: 22px 17px;   }
    &:nth-child(2){ background-position: 15px -103px; }
    &:nth-child(3){ background-position: 22px -222px; }
    &:nth-child(4){ background-position: 13px -341px; }
    &:nth-child(5){ background-position: 28px -460px; }
    &:nth-child(6){ background-position: 35px -581px; }
  }

  .helper{
    float: right;
    a{ margin: 0; }
  }
}

.help_bar{
  padding: 30px 0;

  span{
    @include inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 70px; 
    line-height: 60px;
    font-size: 1.5em;

    &:before{
      display: block;
      content: ' ';
      position: absolute;
      top: 0; left: 0;
      width: 60px; height: 60px;
      background: image-url('/images/advantages_icons.png') no-repeat scroll -358px 0 transparent;
    }
  }
  .phone{
    &:before{ background-position: -478px 0; }
  }

  .delivery{
    width: 50%;
  }
}