@import "../base/mix";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/inline-block";

.slider{
  position: relative;
  margin-bottom: 20px;

  a.bck, a.fwd{
    height:  80px;
    width:   40px;
    display: block;
    text-decoration: none;
    position: absolute; top: 10px;
    background: image-url('/images/slider_btns.png') no-repeat scroll 0 0 transparent;
  }
  a.bck{
    left: 20px;
    &:hover{ background-position: 0 -102px; }
  }
  a.fwd{
    right: 20px;
    background-position: -80px 0;
    &:hover{ background-position: -80px -102px; }
  }

  .viewport{
    width: 80%;
    margin: auto;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  ul{
    width: 100%;
    height: 170px;

    font-size: 0;
    top: 0; left: 0;
    position: absolute;
    white-space: nowrap;

    li{
      height: 100%;
      width:  100%;

      font-size: 10px;
      text-align: left;
      position: relative;
      white-space: normal;
      @include inline-block;
    }

    blockquote{
      margin: 0 25px;
      font-size: 1.5em;
      line-height: 150%;
      position: relative;
      text-align: justify;
      margin-bottom: 15px;

      &:before, &:after{
        content: ' ';
        display: block;
        position: absolute;
        width: 20px; height: 15px;
        background: url('/images/quotes.png') no-repeat scroll 0 0 transparent;
      }

      &:before{ top: 0; left: -25px; }
      &:after{
        bottom: 0; right: -25px;
        background-position: -80px 0;
      }
    }

    .author{
      @include museo_font;
      text-align: center;

      span{
        position: relative;
        font-size: 1.7em;

        &:before, &:after{
          top: 10px;
          width: 75px;
          display: block;
          content: ' ';
          position: absolute;
          border-top: 1px solid #c6c1bd;
        }
        &:before{ left:  -90px; }
        &:after { right: -90px; }
      }
    }
  }
}